<main class="d-flex justify-content-center ">
    <div class="header-main mt-4   text-center d-flex justify-content-around">
        <div class=" col1 d-flex justify-content-center align-items-center" (click)="irArriba()"><i
                class="fa-solid fa-house fa-2xl"></i></div>
        <div class=" col2 d-flex justify-content-center align-items-center"><i class="fa-solid fa-user fa-2xl"></i>
        </div>
        <div class=" col3 d-flex justify-content-center align-items-center"><i class="fa-solid fa-gear fa-2xl"></i>
        </div>
    </div>
</main>