.logo-main {
    width: 50px;
}

.profile {

    border: thin solid gray;
    min-height: 50vh;
    width: 40rem;
    max-width: 80%;
    position: relative;

}

.profile-header {
    height: 150px;

}

.img-profile {
    position: absolute;
    top: 50px;
    left: 35px;
    width: 80px;
    height: 80px;
    object-fit: fill;
    clip-path: circle(45% at 50% 50%);

}

.profile-username {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.75em;
}

.profile-username::first-letter {
    text-transform: ca;
}

.profile-desc {
    margin-left: 20px;
    margin-top: 15px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #92d1ce
}

.texto-nuevos-tweets {
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top: thin solid gray;
}

.texto-no-twteets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top: thin solid gray;
}


.texto-nuevos-tweets:hover {
    color: rgb(1, 94, 1);
    cursor: pointer;
}


.btn-before-tweet {
    border: medium solid gray;
    border-radius: 5px;
    height: 3rem;
    background: #C3ECEA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-before-tweet:hover {
    background: #b5dddb;

}