main {
    width: 100%;
    min-height: 150px;
    height: fit-content;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    z-index: 10;
}

#icon-tweet {
    z-index: 5;
    width: 60px;
    height: 60px;
    object-fit: fill;
    clip-path: circle(45% at 50% 50%);


}

#imagen-adjuntada-tweet {
    width: 50% !important;
    cursor: pointer;
    scale: calc(1);
}

.texto-tweet-actual {

    word-break: break-all;
    margin-right: 50px;
}

.div-texto-tweet {
    margin-left: 3rem;
    margin-top: 1rem;
}

.div-img-tweet {
    margin-left: 40px;
    margin-top: 20px;
}

.nombre-usuario-tweet {
    font-weight: bold;
}

#name-main-profile {
    cursor: pointer;
}

#name-main-profile:hover {
    text-decoration: underline;
}