main {
    width: 100%;
    min-height: 150px;
    height: fit-content;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    z-index: 10;
}

#icon-tweet {
    z-index: 5;
    width: 60px;
    height: 60px;
    object-fit: fill;
    clip-path: circle(45% at 50% 50%);


}

.imagen-adjuntada-tweet {
    width: 50%;
    cursor: pointer;
    scale: calc(1);
}

.texto-tweet-actual {

    word-break: break-all;
    margin-right: 50px;
}

.div-texto-tweet {
    margin-left: 3rem;
    margin-top: 1rem;
}

.div-img-tweet {
    margin-left: 40px;
    margin-top: 20px;
}

.nombre-usuario-tweet {
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

#name-main-profile {
    cursor: pointer;
}

#name-main-profile:hover {
    text-decoration: underline;
}

.options {
    border-radius: 50%;
    margin-right: 20px;
    padding: 3px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.options:hover {
    background-color: #a3ede9;
}


::ng-deep .menu-options {
    background-color: #C3ECEA;
}