main {
    height: fit-content;
    position: sticky;
    top: 25px;
    z-index: 2;

}

.logo-main {
    width: 50px;
}


.header-main {
    width: 26rem;
    height: 10vh;


}

.input-buscador {
    width: 100%;
}


.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.col1 {
    border: thin solid gray;
    width: 5rem;
    background: #C3ECEA;

}

.col2 {
    border: thin solid gray;
    width: 5rem;
    background: #C3ECEA;

}

.col3 {
    border: thin solid gray;
    width: 5rem;
    background: #C3ECEA;

}

.col4 {
    border: thin solid gray;
    width: 5rem;
    background: #C3ECEA;

}

.col5 {
    width: 15rem;
    margin-left: 10px;
    display: flex;
    align-items: center;

}