main {
    background-color: #C3ECEA;
}

.logo-main {
    width: 50px;
}

.card {
    background: #ACD1CF !important;
    width: fit-content !important;
}

.tl {
    border: thin solid gray;
    min-height: 100vh;
    width: 40rem;
    max-width: 80%;
}


.texto-nuevos-tweets {
    color: green;
}


.texto-nuevos-tweets:hover {
    color: rgb(1, 94, 1);
    cursor: pointer;
}

#imagen-adjuntada-tweet {


    width: 80px !important;
    height: 80px !important;
}

.tercer {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 100px;
}

.div-foto {
    margin-left: 25px;
}

.btn-change {
    width: 100px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #529894
}