main {
    background-color: #C3ECEA;
}

.logo-main {
    width: 50px;
}

.card {
    background: #ACD1CF;
    width: fit-content;
}

.tl {
    border: thin solid gray;
    min-height: 100vh;
    width: 40rem;
    max-width: 80%;
}


.texto-nuevos-tweets {
    color: green;
}


.texto-nuevos-tweets:hover {
    color: rgb(1, 94, 1);
    cursor: pointer;
}

.preview-img-config {


    width: 80px;
    height: 80px;
}

.tercer {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 100px;
}

.div-foto {
    margin-left: 25px;
}

.btn-change {
    width: 100px;

}

.btn-change-style {
    border: 2px solid gray;
    height: 2rem;
    background: #C3ECEA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #529894
}

.btn-change-web-style {
    border: 2px solid gray;
    width: 100%;
    height: 2rem;
    background: #C3ECEA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-change-web-style:hover,
.btn-change-style:hover {

    background: #b5dddb;
}