<main>
    <div class="d-flex flex-row">
        <div class="div-img-tweet">
            <img id="icon-tweet" [src]="fotoPerfil" alt="">
        </div>
        <div class="div-texto-tweet">
            <p class="nombre-usuario-tweet">{{tweetActual.usuario}}<span> · {{haceCuanto}}</span>
            </p>
            <p class="texto-tweet-actual"> {{tweetActual.texto}} </p>
            <ng-container *ngIf="imagenAdjuntada">
                <img (click)="goToUrl()" id="imagen-adjuntada-tweet" class="mb-3" [src]="imagenTweet" alt="">
            </ng-container>
        </div>

    </div>
</main>