<textarea #textoTweet [(ngModel)]="texto" class="form-control input-config" id="exampleFormControlTextarea1"
    rows="3"></textarea>
<div *ngIf="preview" class="d-flex justify-content-center">
    <img class="imagen-adjuntada-escribir-tweet mb-3 mt-3" [src]="preview" alt="">
</div>
<button [disabled]="preview" class="btn-adjuntar mt-2" type="button" (click)="fileInput.click()">
    <span><i class="fa-solid fa-image lg"></i></span>
    <input #fileInput type="file" class="" name="file" (change)="adjuntarImagen($event)" style="display:none;" />
</button>

<div class="d-flex justify-content-end">
    <button type="button" class=" mt-2 btn-escribir-tweet " [disabled]="!texto && !preview"
        (click)="twetear()">Twotear</button>
</div>