<textarea #textoTweet [(ngModel)]="texto" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<div *ngIf="preview" class="d-flex justify-content-center">
    <img id="imagen-adjuntada-tweet" class="mb-3 mt-3" [src]="preview" alt="">
</div>
<button [disabled]="preview" class="btn btn-primary mt-2" type="button" (click)="fileInput.click()">
    <span><i class="fa-solid fa-image lg"></i></span>
    <input #fileInput type="file" name="file" (change)="adjuntarImagen($event)" style="display:none;" />
</button>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-2 d-flex justify-content-end " [disabled]="!texto && !preview"
        (click)="twetear()">Twotear</button>
</div>