<main class=" buscador flex-column ">
    <input #buscadorUsers type="text" class="input-buscador" (focusout)="focusOut()"
        (input)="escribeUsers(buscadorUsers.value)" name="" id="">
    <div [className]="usuariosAMostrar ? 'div-search-results' : 'div-search-results2'">
        <div class="usuariosSearch d-flex flex-row" *ngFor="let user of userObservable$ | async"
            (mousedown)="irProfile(user.user)">
            <div class="div-img-tweet">
                <img id="icon-tweet" [src]="user.fotoPerfil" alt="">
            </div>
            <div class="div-texto-tweet">
                <p class="nombre-usuario-tweet"><span id="name-main-profile">
                        {{user.user}}</span>
                </p>

            </div>
        </div>
        <p class="text-center" *ngIf="!usuariosAMostrar" style="transform: translate(0,70px);font-size: 1.1em;">No
            hay usuarios que
            mostrar
        </p>

    </div>
</main>