@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

  main{
    height: 100vh;

}

  
.texto-error-registro{
  font-size: 0.8rem;
  color: red;
}
