@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-color: #C3ECEA;
  width: 100vw;
}

body {
  overflow-x: hidden;

}


.texto-error-registro {
  font-size: 0.8rem;
  color: red;
}