@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./assets/Author_Complete/Author_Complete/Fonts/OTF/Author-Regular.otf');
}

html,
body {
  min-height: 100%;
  height: auto;
  margin: 0;
  background-color: #C3ECEA;
  width: 100vw;
  font-family: 'Satoshi-Regular';
}

body {
  overflow-x: hidden;

}


.texto-error-registro {
  font-size: 0.8rem;
  color: red;
}

.input-config {
  background-color: transparent;
  border-color: gray;
}

.input-config:focus {
  background-color: transparent;
  border-color: gray;
}