<main>

    <div class="d-flex justify-content-center">
        <img src="../../assets/logo-angular.png" class="logo-main mt-5" alt="">
    </div>


    <app-header (irArriba)="cargaDatos($event)"></app-header>

    <div class="mt-5 d-flex justify-content-center">
        <div class="tl d-flex justify-content-center ">

            <div *ngIf="datosService.hayTweets; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div style="width: 100%;" (click)="cargarTweetsPosteriores(null)">
                    <h5 *ngIf="datosService.hayTweetsPorVerMain" class="texto-nuevos-tweets text-center mt-2">Mostrar
                        twoots nuevos</h5>
                    <app-tweet *ngFor=" let i of this.datosService.tweetsCargados" [tweetActual]="i"></app-tweet>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <h3 class="mt-5">No hay Twoots</h3>
            </ng-template>
        </div>

    </div>
    <div class="mt-2  d-flex justify-content-center">
        <button type="button" (click)="cargarTweetsAnteriores()" class="btn rounded-pill btn-lg btn-primary mb-2">Cargar
            anteriores...</button>
    </div>
    <div style="position: fixed;bottom: 10%;right: 10%;">
        <button type="button" (click)="twetear()" class="btn rounded-pill btn-lg btn-primary mt-3">Twotear</button>
    </div>

</main>